import numpy as np
from tensorflow import keras
import pandas as pd
from keras.preprocessing.text import Tokenizer, one_hot
from keras.callbacks import ReduceLROnPlateau, EarlyStopping
import re
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from keras.preprocessing.sequence import pad_sequences
